@model IEnumerable<SpaceX_Launches.ViewModels.CompanyInfo>
@{
    ViewBag.Title = "Company Information";
}

<div id="top" class="top">
    <h1 class="text-center">@ViewBag.Title</h1>
    <p class="lead text-center">This Page Displays SpaceX Comapny Information</p>
    <p><a href="https://github.com/r-spacex/SpaceX-API/blob/master/docs/README.md" class="btn btn-primary btn-lg">SpaceX-API &raquo;</a></p>
</div>